{% extends 'qa/base.html' %}
{% load qa_extras %}

{% block title %}{{topic.topic_text}}{% endblock %}
{% block main_class %}{% endblock %}

{% block menu_content %}
    {% include "qa/includes/nav.html" %}
{% endblock %}

{% block left_sidebar_content %}
    {% include "qa/includes/home_left_sidebar.html" %}
{% endblock %}

{% block right_sidebar_content %}
    {% include "qa/includes/home_right_sidebar.html" %}
{% endblock %}

    <!--<ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'logout' %}" >logout</a>
      </li>
    </ul>-->

{% block ask_question_block %}

<div class="topic_details" >
   <div class="topic_details_holder">
      <div class="topic_icon" >
          <img src="/static/images/tag_icon.png">
      </div>
      <div class="topic_details_right">
         <div class="topic_name">{{topic.topic_text}}</div>
         <div class="topic_action">
            <div class="action_bar" >
               <div class="action_item">
                  <a class="icon_action_bar-button follow_topic {% if topic|istopicfollowed:user == '1' %}pressed{% endif %}" data-action="{% if topic|istopicfollowed:user == '1' %}0{% else %}1{% endif %}" data-topic-id="{{topic.id}}" data-master="fl" href="#">
                      {% csrf_token %}
                     <div class="icon_action_bar-icon icon_action_bar-icon_offset">
                        <span class="action_bar-inline_icon">
                           <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g stroke="none" fill="none" fill-rule="evenodd" stroke-linecap="round">
                                 <g id="follow" class="icon_svg-stroke" stroke="#666" stroke-width="1.5">
                                    <path d="M14.5,19 C14.5,13.3369229 11.1630771,10 5.5,10 M19.5,19 C19.5,10.1907689 14.3092311,5 5.5,5" id="lines"></path>
                                    <circle id="circle" cx="7.5" cy="17" r="2" class="icon_svg-fill" fill="none"></circle>
                                 </g>
                              </g>
                           </svg>
                        </span>
                     </div>
                     <div class="icon_action_bar-label">
                         <span class="action_bar-label-text">Follow</span>
                         <span class="bullet">&bull;</span>
                         <span class="action_count">{{topic|gettopicfollowcount}}</span>
                     </div>
                  </a>
               </div>
               <div class="action_item">
                  <a class="bookmark_topic icon_action_bar-button {% if topic|istopicbooked:user == '1' %}pressed{% endif %}" data-action="{% if topic|istopicbooked:user == '1' %}0{% else %}1{% endif %}" data-topic-id="{{topic.id}}" data-master="bk" href="#">
                     {% csrf_token %}
                      <div class="icon_action_bar-icon icon_action_bar-icon_offset">
                        <span class="action_bar-inline_icon">
                           <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g id="bookmark" class="icon_svg-stroke icon_svg-fill" stroke="#666" fill="none" stroke-width="1.5" fill-rule="evenodd" stroke-linejoin="round">
                                 <polygon points="12.0014329 15 5.50286589 20 5.5 5 18.5 5 18.5 20"></polygon>
                              </g>
                           </svg>
                        </span>
                     </div>
                     <div class="icon_action_bar-label">
                         <span class="action_bar-label-text">Bookmark</span>
                         <span class="bullet">&bull;</span>
                         <span class="action_count">{{topic|gettopicbookcount}}</span>
                     </div>
                  </a>
               </div>
               <div class="action_bar_inner_spacer u-margin-left--auto">&nbsp;</div>
               <!--<div class="QuestionMoreOption dropdown">-->
                  <!--<a id="dropdownMenuLink" class="icon_action_bar-button icon_action_bar-secondary-button self_question_more_option dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                     <!--<div class="icon_action_bar-icon">-->
                        <!--<span class="action_bar-inline_icon">-->
                           <!--<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
                              <!--<g id="overflow" class="icon_svg-stroke" stroke-width="1.5" stroke="#666" fill="none" fill-rule="evenodd">-->
                                 <!--<path d="M5,14 C3.8954305,14 3,13.1045695 3,12 C3,10.8954305 3.8954305,10 5,10 C6.1045695,10 7,10.8954305 7,12 C7,13.1045695 6.1045695,14 5,14 Z M12,14 C10.8954305,14 10,13.1045695 10,12 C10,10.8954305 10.8954305,10 12,10 C13.1045695,10 14,10.8954305 14,12 C14,13.1045695 13.1045695,14 12,14 Z M19,14 C17.8954305,14 17,13.1045695 17,12 C17,10.8954305 17.8954305,10 19,10 C20.1045695,10 21,10.8954305 21,12 C21,13.1045695 20.1045695,14 19,14 Z"></path>-->
                              <!--</g>-->
                           <!--</svg>-->
                        <!--</span>-->
                     <!--</div>-->
                  <!--</a>-->
                  <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">-->
                        <!--<a class="dropdown-item edit_question_text" data-qid="{{question.id}}" data-question-text="{{question.question_text}}" href="#">Edit Question Text</a>-->
                        <!--<a class="dropdown-item edit_question_topic" data-qid="{{question.id}}" data-prefill-topics="{{ question|gettopicarray }}"  href="#">Edit Topics</a>-->
                    <!--</div>-->
               <!--</div>-->
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block content %}
{% if post_list %}
    {% if active_page == "home_new" or active_page == "home_top" or active_page == "question_list" %}
        {% include "qa/question_list.html" %}
    {% elif active_page == "home_book" or active_page == "answer_list" %}
        {% include "qa/includes/answer_list.html" %}
    {% else %}
        {% include "qa/includes/question_list.html" %}
    {% endif %}
{% else %}
    <p class="no_post_info">You dont have any questions to show here!</p>
{% endif %}
{% endblock %}
