<div class="layout_3col_right">
    <div class="fixed_sidebar" style="top: 83px; position: static; width: 100%;">
         <div class="checklist_outer_box">
           <div class="new_user_checklist">
              <h2 class="title">Improve Your Feed</h2>
              <div class="steps_container">
                 <div class="checklist_row">
                    <div class="complete">
                       <div class="check_wrapper">
                          <div class="check"></div>
                       </div>
                       <div class="label" >Visit your feed</div>
                    </div>
                    <div style="display:block;clear:both;"></div>
                 </div>
                 <div class="checklist_row">
                    <div class="">
                       <div class="check_wrapper">
                          <div class="check"></div>
                       </div>
                        <div class="label"><a href="#">Follow 20 more topics</a></div>
                    </div>
                    <div style="display:block;clear:both;"></div>
                 </div>
                 <div class="checklist_row">
                    <div class="">
                       <div class="check_wrapper">
                          <div class="check"></div>
                       </div>
                        <div class="label"><a href="#">Find your friends on {{ APP_NAME }}</a></div>
                    </div>
                    <div style="display:block;clear:both;"></div>
                 </div>
              </div>
              <div style="display:block;clear:both;"></div>
           </div>
         </div>
    </div>
</div>