
<div class="related_questions">
   <div >
      <div class="question_related_list">
         <h3>Related Questions</h3>
         <ul class="list_contents">
            <li class="related_question_item">
                  <div>
                      <a class="question_link" href="" >
                          <span class="ui_story_title  ">
                            <span class="ui_qtext_rendered_qtext">Question text</span>
                          </span>
                      </a>
                  </div>
            </li>

            <!--<a class="AskQuestionButton" href="#" ><span class="button_text" >Ask New Question</span></a>-->
         </ul>
      </div>
      <!--<span ><a class="more_link" href="#" >More Related Questions</a></span>
      <span class="hidden" >
         <div class="LoadingDots regular">
            <div class="dot first"></div>
            <div class="dot second"></div>
            <div class="dot third"></div>
         </div>
      </span>-->
   </div>
</div>
